{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/eventCalendar.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/eventCalendar_theme_responsive.css'%} ">

</head>
<body>
    <div class="header">
		<div class="main">
			<a href="home.html"><button class="main_button" >Главная</button></a>
		</div>
		<div class="log_in">
			<button class="log_in_button">Войти</button>
		</div>
		<div class="registration">
			<button class="registration_button">Регистрация</button>
		</div>
	</div>
	<div class="content">
		<div class="container_hz">


			<div class="happy_test">
				<p style="font-size: 20px; font-family: Century Gothic;">Развлекательный тест</p>
				<button class="start_game">Попробовать тест</button>

			</div>
			<div class="realy_test">
				<p style="font-size: 20px; font-family: Century Gothic;">Серьезный тест</p>
				<button class="start_game">Попробовать тест</button>

			</div>
		</div>
		<div class="calendar">
			<a href="https://google.com" style="text-decoration:none;"><div id="eventCalendar" style="width: 100%; height: 100%; margin-top: 0%;"></div></a>
		</div>
	</div>



    <script src="http://code.jquery.com/jquery.min.js"></script>
	<script src="{% static 'main/js/moment.js'%} "></script>
	<script src="{% static 'main/js/jquery.eventCalendar.js'%} "></script>
	<script>
	$(function(){
		var data = [
			{ "date": "2017-04-21 10:15:20", "title": "Событие 1", "description": "Lorem Ipsum dolor set", "url": "http://www.event3.com/" },
			{ "date": "2017-04-18 10:15:20", "title": "Событие 2", "description": "Lorem Ipsum dolor set", "url": "" },
			{ "date": "2017-04-01 10:15:20", "title": "Событие 3", "description": "Lorem Ipsum dolor set", "url": "http://www.event3.com/" },
			{ "date": "2017-04-25 10:15:20", "title": "Событие 4", "description": "Lorem Ipsum dolor set", "url": "http://www.event3.com/" },
		];
		$('#eventCalendar').eventCalendar({
			jsonData: data,
			eventsjson: 'data.json',
			jsonDateFormat: 'human',
			startWeekOnMonday: false,
			openEventInNewWindow: true,
			dateFormat: 'DD-MM-YYYY',
			showDescription: false,
			locales: {
				locale: "ru",
				txt_noEvents: "Нет запланированных событий",
				txt_SpecificEvents_prev: "",
				txt_SpecificEvents_after: "события:",
				txt_NextEvents: "Следующие события:",
				txt_GoToEventUrl: "Смотреть",
				moment: {
					"months" : [ "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь",
					"Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь" ],
					"monthsShort" : [ "Янв", "Фев", "Мар", "Апр", "Май", "Июн",
					"Июл", "Авг", "Сен", "Окт", "Ноя", "Дек" ],
					"weekdays" : [ "Воскресенье", "Понедельник","Вторник","Среда","Четверг",
					"Пятница","Суббота" ],
					"weekdaysShort" : [ "Вс","Пн","Вт","Ср","Чт",
					"Пт","Сб" ],
					"weekdaysMin" : [ "Вс","Пн","Вт","Ср","Чт",
					"Пт","Сб" ]
				}
			}
		});
	});
	</script>









</body>
</html>