body{
	background: linear-gradient(#9f9cff, #5D2680) fixed;
	width: 99%;
	font-family:Century Gothic;

}
.header{
	display: flex;
}
.main{
	position: relative;
	width: 70%;
	height: auto;
	margin-left: 3%;
	margin-top: 1%;
	float: left;
}
.main_button{
	background-color:  #b3ffc7;
	opacity: 0.7;
	outline: none;
	border: 0;
	position: relative;
	font-size: 24px;
	font-family: Century Gothic;
	border-radius: 4px;

}
.main_button:hover{
	background: #9f9cff;
	transition-timing-function: ease-in;
	transition: 0.5s;
	cursor: pointer;
}
.registration{
	position: relative;
	width: 15%;
	height: auto;
	margin-top: 1%;
	float: left;
	margin-right: 3%;
}
.registration_button{

	background-color:  #b3ffc7;
	opacity: 0.7;
	outline: none;
	border: 0;
	position: relative;
	font-size: 24px;
	font-family: Century Gothic;
	border-radius: 4px;
}
.registration_button:hover{
	background: #9f9cff;
	transition-timing-function: ease-in;
	transition: 0.5s;
	cursor: pointer;
}
.log_in{
	position: relative;
	width: 15%;
	height: auto;
	margin-top: 1%;
	float: left;
	margin-right: 3%;
}
.log_in_button{
	border-radius: 4px;
	margin-left: 70%;
	background-color:  #b3ffc7;
	opacity: 0.7;
	outline: none;
	border: 0;
	position: relative;
	font-size: 24px;
	font-family: Century Gothic;
}
.log_in_button:hover{
	background: #9f9cff;
	transition-timing-function: ease-in;
	transition: 0.5s;
	cursor: pointer;
}
.content{
	width: 100%;
	position: relative;

}
.container_hz{
    display:flex;
}
.happy_test{
	position: relative;
	width: 30%;
	margin-right: 5%;
	margin-left: 15%;
	text-align: center;
	margin-top: 5%;
	height: 700px;
	border: 1px solid lime;
}
.realy_test{
    position: relative;
	width: 30%;
	margin-right: 15%;
	margin-left: 5%;
	text-align: center;
	margin-top: 5%;
	height: 700px;
	border: 1px solid lime;
}
.start_game{
	border-radius: 4px;
	background-color:  #9cffb6;
	opacity: 0.7;
	outline: none;
	border: 0;
	position: relative;
	font-size: 30px;
	font-family: Century Gothic;
	margin-top: 70%;
}
.start_game:hover{
	background: #9f9cff;
	transition-timing-function: ease-in;
	transition: 0.5s;
	cursor: pointer;
}
.calendar{
	position: relative;
	width: 72%;
	margin-right: 14%;
	margin-left: 14%;
	text-align: center;
	margin-top: 5%;
	height: 700px;
	border: 1px solid lime;
}

